###############################
### DO NOT CHANGE THIS FILE ###
###############################

[options]
    logfile = {log_file}
    Interface = {interface}

[TOTP]
    sequence = {knock_1},{knock_2}
    tcpflags = syn
    seq_timeout = 5
    start_command = aws ec2 authorize-security-group-ingress --group-id {security_group} --protocol tcp --port {port} --cidr "0.0.0.0/0"
    cmd_timeout = {timeout}
    stop_command = aws ec2 revoke-security-group-ingress --group-id {security_group} --protocol tcp --port {port} --cidr "0.0.0.0/0"